
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


@font-face {
    font-family: Open Sans, sans-serif;
    src: url(fonts/opensans-light.woff2),
    url(fonts/opensans-light.woff);
    font-style: normal;         /*каким образом шрифт должен быть стилизирован*/
    font-weight: 300;
    font-display: swap;  /*swap сообщает браузеру, что текст, использующий шрифт, должен немедленно отображаться с использованием системного шрифта. Когда пользовательский шрифт готов, он заменяет системный шрифт*/
}
@font-face {
    font-family: Open Sans, sans-serif;
    src: url(fonts/opensans-regular.woff2),
    url(fonts/opensans-regular.woff);
    font-style: normal;         /*каким образом шрифт должен быть стилизирован*/
    font-weight: 400;
    font-display: swap;  /*swap сообщает браузеру, что текст, использующий шрифт, должен немедленно отображаться с использованием системного шрифта. Когда пользовательский шрифт готов, он заменяет системный шрифт*/
}
@font-face {
    font-family: Gilroy, sans-serif;
    src: url(fonts/gilroy-light.woff2),
    url(fonts/gilroy-light.woff);
    font-style: normal;         /*каким образом шрифт должен быть стилизирован*/
    font-weight: 300;
    font-display: swap;  /*swap сообщает браузеру, что текст, использующий шрифт, должен немедленно отображаться с использованием системного шрифта. Когда пользовательский шрифт готов, он заменяет системный шрифт*/
}
@font-face {
    font-family: Gilroy, sans-serif;
    src: url(fonts/gilroy-extra-bold.woff2),
    url(fonts/gilroy-extra-bold.woff);
    font-style: normal;         /*каким образом шрифт должен быть стилизирован*/
    font-weight: 800;
    font-display: swap;  /*swap сообщает браузеру, что текст, использующий шрифт, должен немедленно отображаться с использованием системного шрифта. Когда пользовательский шрифт готов, он заменяет системный шрифт*/
}

/* Обнуление стилей (Начало) */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	/*outline: none;*/
}

a:focus,
a:active {
	/* outline: none;*/
}

.body{
    font-family: "Open Sans", sans-serif;
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
    color: inherit;
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}


/* button{
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
} */

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

  
/* Убираем крестик стирания текста внутри формы для поиска */
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }


/*--------------Обнуление стилей (конец)/*-------------- */




.search-input, .search-button, .user-account, .user-list{
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.submenu{
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
}

.catalog-link, .navigation-list, navigation-contacts, .navigation-contacts{
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .2em;
}



/*--------------ХЕДЕР (начало)-------------- */
 
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}   

.header{
    min-height: 185px;
    background-color: #f7e296;
    margin: 40px 0px 45px 0px;
}

.header-container {   
    position: relative;
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 45px; 
}

.header-logo_link {
    position: absolute;
    top: -18px;
    left: 0px;
}

.header-logo_link:hover {
    opacity: 0.6;
}

.header-logo_link:active{
    opacity: 0.3;
}

.user-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/*--------------Поиск (начало)-------------- */

.search{
    /* border: 1px solid black; */
}
.search-label{
    display: inline-block;
    background-image: url('images/search.svg');
    width: 16px;
    height: 16px;
    background-repeat:no-repeat;
    padding-right: -10px;
}

.search-input{
    /* border: 1px solid rgb(223, 8, 155); */
    width:265px;
    position:relative;
    padding:8px 0 8px 20px;
    line-height:30px;
    /* background-color:transparent; */
    /* border:none;  */
    border-bottom:2px solid transparent;
    margin: -15px;
}

.search-input:focus{
    /* color:#000; */
    border-bottom-color:#000;
}

.search-input:focus +.search-button{
    visibility: visible;
}


.search-input::placeholder{
    color: rgba(0,0,0,.3)
}

.search-input:hover::placeholder{
    color: #8d8d8d;
}

.search-button{
    padding:8px 18px;
    line-height:30px;
    letter-spacing:.01em;
    text-transform:none;
    font-weight:400;
    color:#000;
    background-color:transparent;
    border:2px solid #000;
    visibility:hidden;
}

.search-button:hover{
    color: white;
    background-color: #000;
}

.search-button:active{
    color: #6a6a6a;
}







/*--------------Поиск (конец)-------------- */


.user-account {
    display: flex;
    align-items: center;
    /* padding-left: 100px; */
}

.user-text{
    padding-left: 10px;
}

.user-list {
    display: flex;
    align-items: center;
}

.user-list li:nth-child(1){
    margin-right: 40px;
}

.user-link {
    display: flex;
    align-items: center;
}




/*--------------Меню с Каталогом товаров (начало)-------------- */

.navigation {
   position: relative;
}

.catalog-link{
    position: relative;
}

.catalog-link::after {
    position: absolute;
    content: "";
    background: url(images/plus.png) no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 20px;
    top: 2px;

    opacity: 0.6;
}

.catalog-link:hover +.catalog-menu{
    display: flex;
}

.catalog-menu:hover{
    display: flex;
}


.catalog-menu{
    width: 1140px;
    z-index: 3;
    background-color: #f7e296;

    display: none;  
    position: absolute; 
    top: 20px;
    left: -50px; 
    padding-left: 50px;

    /* border: 1px solid rgb(243, 49, 6); */

}

.submenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    width: 593px;
    height: 160px;

    padding-top: 25px;
}

.submenu-item {
}

.submenu-item:nth-child(6){
    opacity: 0;
}
.submenu-item:nth-child(8){
    opacity: 0;
}
.submenu-item:nth-child(9){
    opacity: 0;
}

.submenu-link {
}

.navigation-list {
    display: flex;
    position: absolute;
    top: 0px;
    left: 520px;
}

.navigation-list li:first-child {
    display: block;
    margin-right: 40px;
}

.nav-link {
}
.navigation-contacts {
    position: absolute;
    top: 0px;
    left: 920px;
}

/*--------------ХЕДЕР (конец)------------- */


/*--------------MEIN (начало)------------- */
.main {
    /* margin: 0 auto; */

}
/*--------------Крошки (начало)------------- */


.crumbs {
    max-width: 1040px;
    margin: 0 auto;
    padding-bottom: 45px; 

    /* border: 1px solid rgb(83, 232, 37); */
}

.title {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 47px;
    line-height: 48px;
}

.crimbs-list {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;

    display: flex;
    justify-content: flex-start;
}

.crumbs-item{
    margin-right: 20px;
    opacity: .3;
}

.crumbs-item:not(:last-child):after{
    content: "";
    display: inline-block;
    background-image: url(images/nav-arrow.svg);
    background-repeat: no-repeat;
    width: 4px;
    height: 7px;
    margin-left: 20px;

    opacity: 1;
}
.crumbs-link {
}
/*--------------Крошки (конец)------------- */

/*--------------Фильтр (начало)------------- */

.main-block{
    display: flex;
}

/*--------------стоимость (начало)------------- */


.filtr-title {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

/* .sort h3{
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .2em;
} */


.filtr-container {
    width: 468px;
    height: 1360px;

    background: linear-gradient(
    #dbdbdb 0%, #dbdbdb 5.15%,
    #eeeeee 5.15%, #eeeeee 100%
  );
}

.filtr-block{
    margin-left: 200px;
   
    /* border: 1px solid rgb(26, 6, 243); */
}

.filtr-title{
    padding: 25px 0px 0px 0px;
}

.line { 
    width: 201px;
    height: 2px;
    background-color: black;
}

.cost-container{
    margin-top: 70px;

}

.cost {
    padding-top: 16px;
}

.cost p {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;

    margin-bottom: 30px;
}

.scale {
    position: relative;

}

.bar-grey {
    width: 100px;
    height: 2px;
    background-color: #91c92f;
    position: relative;
}

.bar-green {
    width: 201px;
    height: 2px;
    background-color: #dbdbdb;

    position: absolute;
    top: 0px;
    left: 0;
}

.toggle {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: center;
    align-items: center;

}
.min {
    position: absolute;
    top: -10px;
    left: 0;
}
.max {
    position: absolute;
    top: -10px;
    left: 100px;

}

.point{
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border-radius: 50%;
}

.cost-value{
    display: flex;
    padding-top: 5px;
    padding-bottom: 40px;
}

.scale-label {
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    opacity: 20%;

    display: flex;
    margin-right: 10px;
}
.scale-input {
    width: 79px;
}
/*--------------стоимость (конец)------------- */
/*--------------цвет (начало)------------- */

.color {
}

.color p {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;

    margin-top: 15px;
    margin-bottom: 30px;
}

.color-list {
    margin-bottom: 40px;
}
.color-item {
}

.checkbox-input {
     display: none;
}

.checkbox-label {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    padding-left: 40px;

    user-select:none; /* запретить выделять текст пользователю */
    
    position: relative;
}

.checkbox-label::before{
    content: "";
    display: inline-block;
    background: url(images/checkbox-off.svg);
    width: 23px;
    height: 23px;
    position: absolute;
    top: -2px;
    left: 0px;
}

.checkbox-input:checked +.checkbox-label::before{
    background: url(images/checkbox-on.svg);
    width: 27px;
    height: 23px;
}
/*--------------цвет (конец)------------- */
/*--------------bluetooth (начало)------------- */

.bluetooth {
    margin-bottom: 50px;
}
.bluetooth p{
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;

    margin-top: 15px;
    margin-bottom: 30px;
}
.bluetooth-list {
}
.bluetooth-item {
}
.radio-input {
    display: none;
}
.radio-label {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;

    position: relative;
    padding-left: 40px;

    user-select: none;
}

.radio-label::before{
    content: "";
    display: inline-block;
    background: url(images/radio-off.svg);
    width: 25px;
    height: 25px;

    position: absolute;
    top: -3px;
    left: 0;
}

.radio-input:checked +.radio-label::before{
    background: url(images/radio-on.svg);
}

/*--------------bluetooth (конец)------------- */
/*--------------кнопка  (начало)------------- */

.show-btn{
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .2em;

    position: relative;
    z-index: 0;
    display: block;
    padding-left: 42px;
}

.show-btn::before{
    content: "";
    display: block;
    width: 200px;
    height: 8px;
    background-color: #f0c52e;

    position: absolute;
    top: 7px;
    left: 0px;
    z-index: -1;
}

.show-btn:hover::before{
    top: -10px;
    height: 40px;
    transition:all .1s linear;
}

.show-btn:active{
    color: #be9c22;
}



/*--------------кнопка  (начало)------------- */
/*--------------Фильтр (Конец)------------- */


/*--------------БЛОК Центральный (Начало)------------- */
/*-------------- Центральный Хедер (Начало)------------- */

.central-menu{
    width: 973px;
    height: 1286px;

    background: linear-gradient(
    #ebebeb 0%, #ebebeb 5.44%,
    #ffffff 5.44%, #ffffff 100%
    );
    
    /* border: 1px solid rgb(26, 6, 243); */
}

.central-container{
    width: 834px;
    padding-left: 74px;

    /* border: 1px solid rgb(243, 113, 6); */
}

.sort {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 25px;

    /* border: 1px solid rgb(30, 27, 24); */

}

.sort h3{
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .2em;

    padding-right: 55px;
}

.sort-list {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    display: flex;
}

.sort-item:not(:last-child) {
    padding-right: 30px;
}

.sotr-link {
}
.arrow-list {
    display: flex;
    padding-left: 226px;
}
.arrow-item:first-child{
    padding-right: 20px;
}
.arrow-link {
}
.arrow {
}


/*-------------- Центр (Начало)------------- */


.catalog-container {
    padding-top: 100px;
}

.maket-wrap{
    /* border: 1px solid rgb(243, 6, 188); */

    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.maket{
    width: 360px;
    margin-bottom: 75px;
    position: relative;

    /* border: 1px solid rgb(6, 243, 22); */
}

.maket-text {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.info-link {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
}

.maket-text p{
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px; 
}

.maket-hov {
    /* opacity: 0; */
    display: none;
    position: absolute;
    top: 188px;
    left: 74px;    
}

.compare {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 36px; 
    color: #a3a3a3;


    padding-left: 32px;
    padding-top: 20px;
}

.compare:hover {
    color: black;
}

.compare:active {
    color: #dddddd;
}



.maket-link:hover +.maket-hov {
    display: block;
    /* opacity: 1; */
}

.maket-link:hover{
    opacity: .7;
}

.maket-hov:hover{
    display: block;
}


/* .maket-hov:hover .maket-link{
    opacity: .7;
} */




.cart-btn{
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .2em;

    position: relative;
    z-index: 0;
    display: block;
    padding-left: 42px;
    padding-bottom: 20px;
}

.cart-btn::before{
    content: "";
    display: block;
    width: 200px;
    height: 8px;
    background-color: #f0c52e;

    position: absolute;
    top: 7px;
    left: 0px;
    z-index: -1;
}

.cart-btn:hover::before{
    top: -10px;
    height: 40px;
    transition:all .1s linear;
}

.cart-btn:active{
    color: #be9c22;
}


.pagination{
    width: 760px;
    height: 70px;
    background-color: #ebebeb;

    position: relative;
    top: -30px;
    left: 0px;
}

.pagination{
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .2em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 30px 0px 30px ; */
}



.pagination-list{
    display: flex;
}

.pagination-item a{
    color: #bababa;
}

.current a{
    color: black;     /* почему не работает? */
}

.pagination-item:not(:last-child){
    padding-right: 30px;
}

.pagination-item a:hover{
    color: #b0b0b0;
}

.pagination-item a:active{
    color: black;
}

.back, .forward{
    padding: 25px 30px;
}

.back:hover{
    width: 125px;
    height: 70px;
    background-color: #d9d9d9;
}

.back:active{
    color: #acacac;
}

.forward:active{
    color: #acacac;
}

.forward:hover{
    width: 125px;
    height: 70px;
    background-color: #d9d9d9;
}





/*--------------MEIN (конец)------------- */
/*--------------Футер (Начало)------------- */

.Gilroy-extrabold{
    font-family: "Gilroy";
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: .2em;
    color: black;
}

.Gilroy-extrabold24{
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: black;
}

.OpenSans-light{
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.footer {
    /* max-width: 1440px; */
    color: #fff;
    background-color: #464646;
   
}
.conteiner-footer {
    max-width: 1190px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 67px;
    padding-left: 15px;
    padding-right: 15px;
    
    /* border: 2px solid rgb(255, 0, 166); */
}


.footer-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 42px;
}
.f-logo-link:hover { 
    opacity: 0.6;
}

.f-logo-link:active { 
    opacity: 0.3;
}

.f-logo-img {
}

.f-menu {
    display: flex;
}

.f-menu-link {
    display: flex;
    align-items: center;
}

.f-menu-link:not(:last-child){
    margin-right: 43px;
}

.f-menu-link:hover >.f-menu-img{
    opacity: .6;
}
.f-menu-link:hover >.f-menu-text{
    opacity: 1;
}

.f-menu-link:active >.f-menu-img{
    opacity: .3;
}
.f-menu-link:active >.f-menu-text{
    opacity: .3;
}

.f-menu-img{
}

.f-menu-text {
    margin-left: 12px;
    color: #fff;
    opacity: 0.7;
}


.footer-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
}

.adress {
}

.delivery-list {
    display: flex;
}



.delivery-item:not(:last-child) {
    margin-right: 40px;
}

.delivery-link {
    color: #fff;
}
.delivery-link:hover {
    opacity: 0.6;
}
.delivery-link:active {
    opacity: 0.3;
}


.phone-number {
}

.footer-tree {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-link{
    opacity: 0.3;
}
.icon-link:hover {
    opacity: 0.6;
}
.icon-link:active {
    opacity: 0.1;
}

.icon-list {
    display: flex;
}


.icon-item:not(:last-child) {
    margin-right: 23px;
}

.icon-img {
}
.logo-html:hover {
    opacity: 0.6;
}
.logo-html:active {
    opacity: 0.3;
}
